# compose project name (used to name/group your stack containers)
COMPOSE_PROJECT_NAME=phraseanet
# Registry from where you pull Docker images
PHRASEANET_DOCKER_REGISTRY=local
# Tag of the Docker images
PHRASEANET_DOCKER_TAG=alpha-0.2
# APPLICATION PORT
PHRASEANET_APP_PORT=8082
# RabbitMQ configuration
RABBITMQ_DEFAULT_USER=alchemy
RABBITMQ_DEFAULT_PASS=vdh4dpe5Wy3R
RABBITMQ_MANAGEMENT_PORT=10811
# Mysql configuration
MYSQL_ROOT_PASSWORD=root
SERVER_NAME=phraseanet-docker

# --- DEV purpose ---

# Workspace diredctory
ALCHEMY_WORKSPACE_DIR=/var/alchemy
# PhpMyAdmin port
PHPMYADMIN_PORT=8089
